<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/register.js" defer></script>
  <link href="/css/home/style.css" rel="stylesheet"/>
  <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input id="id" type="text" minlength="6" maxlength="18" placeholder="ID"/>
        <input id="name" type="text" placeholder="name"/>
        <input id="password" type="password" minlength="6" maxlength="18"placeholder="password"/>
        <input id="confirm-password" type="password" minlength="6" maxlength="18" placeholder="confirm password"/>
        <input id="email" type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="login">Sign In</a></p>
      </form>
    </div>
  </div>
</body>
</html>


